/* Style of header */
.header {
    padding: 20px; /* some padding */
    text-align: center; /* center the text */
    background-image: url('../images/2.png');
     width:100%;
     height:100%;
  }
  /*  the font size of the <h1>  */
  .header h1 {
    font-size: 30px;
    color:white;
  }
   .header h2{
      font-size: 30px;
      color:white;
    }
/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  /* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

* {
    box-sizing: border-box;
  }

/* Column container */
.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}
/* Sidebar/left column */
  .side {
  -ms-flex: 30%; 
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
ul.a {
  list-style-type: disc;
}

h3.title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}
  /* Main column */
.main {
    flex: 70%; /* Set the width of the main content */
    background-color: white;
    padding: 20px; /* Some padding */
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  .footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
  }