/* Style of header */
.header {
    padding: 20px; /* some padding */
    text-align: center; /* center the text */
    background: #1abc9c; /* green background */
    color: white; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 40px;
   
  }
/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  /* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
  }


 /* Ensure proper sizing */
 *{
    box-sizing: border-box;
  }

     /* Column container */
   .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }
/* Sidebar/left column */
    .side {
    -ms-flex: 30%; 
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  ul.a {
    list-style-type: disc;}


  /* Main column */
.main {
    -ms-flex: 50%;
    flex: 50%; /* Set the width of the main content */
    background-color: gainsboro; /* White background color */
    padding: 20px; /* Some padding */
    font-family: 'Gudea', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
  }
  /* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }


  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  .footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
 
  }